body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: none;
}

.top {
  text-align: center;
  padding: 20px;
}

.hero h1 {
  display: flex;
  justify-content: center;
}

.heroimg img {
  width: 400px;
}

.about {
  text-align: center;
  background-color: black;
  padding: 20px;
}

.about h1 {
  color: white;
}

.content img {
  width: 400px;
  padding-bottom: 10px;
}

.abttxt p {
  color: white;
  width: 50%;
  margin: auto;
}

.services {
  text-align: center;
  padding: 20px;
}

.img1 {
  width: 400px;
}

.img2 {
  width: 400px;
}

.img3 {
  width: 400px;
}

@media (min-width: 769px) {
  header {
    background-color: rgb(115, 158, 214);
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .navbar {
    display: flex;
  }

  header span {
    font-weight: bold;
    color: white;
  }

  header nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 12px;
  }

  .top {
    padding: 50px;
    justify-content: center;
    display: flex;
    margin: 50px;
  }

  .heroimg img {
    margin-left: 50px;
    width: 500px;
  }

  .about {
    text-align: center;
    background-color: black;
  }

  .about h1 {
    color: white;
  }

  .content {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .content img {
    width: 300px;
    padding: 20px;
  }

  .abttxt p {
    color: white;
    width: 400px;
  }

  .services {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .img1 {
    width: 400px;
  }

  .img2 {
    width: 400px;
  }

  .img3 {
    width: 400px;
  }
}
